---
import "@/styles/globals.css";

import { getCollection } from "astro:content";

import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import CustomCarousel from "../components/CustomCarousel";

const shootingTypes = await getCollection("shootings");
---

<Layout title="Welcome to Astro.">
  <script>
    const masonry = () => {
      const portfolio = document.querySelector(".portfolio");
      let column = 3;

      const responsive = [
        {
          breakpoint: 1280,
          column: 3,
        },
        {
          breakpoint: 1024,
          column: 2,
        },
        {
          breakpoint: 768,
          column: 1,
        },
      ];

      const winWidth = window.innerWidth;

      for (let i = 0; i < responsive.length; i++) {
        if (winWidth <= responsive[i].breakpoint) {
          column = responsive[i].column;
        }
      }

      if (column === 1) {
        const listElms = Array.prototype.slice.call(
          portfolio.querySelectorAll("figure"),
          0,
        );
        listElms.forEach((listElm) => {
          listElm.style.marginTop = "";
        });

        return false;
      }

      const listElms = Array.prototype.slice.call(
        portfolio.querySelectorAll("figure"),
        0,
      );

      if (listElms.length === 0) {
        return false;
      }

      listElms.forEach((listElm, index) => {
        listElm.style.marginTop = "";

        if (column > index) {
          return;
        }

        const topListElm = listElms[index - column];
        const topListElmPosi = topListElm.getBoundingClientRect().top;
        const topListHeight = getHeightAndMarginBottom(topListElm);
        const topListBottomPosi = topListElmPosi + topListHeight;
        const listElmPosi = listElm.getBoundingClientRect().top;
        let setPosi: string | number =
          listElmPosi.toFixed(0) - topListBottomPosi.toFixed(0) - 16;

        if (setPosi === 0) {
          return false;
        }

        setPosi = "-" + setPosi + "px";
        listElm.style.marginTop = setPosi;
      });
    };

    const getHeightAndMarginBottom = (elm) => {
      const height = elm.getBoundingClientRect().height;
      const styles = getComputedStyle(elm);
      const bottom = parseFloat(styles.marginBottom);
      return height + bottom;
    };

    masonry();

    window.addEventListener("resize", () => {
      masonry();
    });
    document.addEventListener("DOMContentLoaded", () => {
      masonry();
    });
    document.addEventListener("astro:page-load", () => {
      masonry();
    });
  </script>

  <div class="relative">
    <div class="mx-auto px-8 md:max-w-7xl">
      <Hero />
      {
        shootingTypes.map((type) => (
          <figure class="shrink-0 w-full relative my-12">
            <h2 class="font-light text-4xl -tracking-wider mt-0 mb-8 mx-0">
              <span class="text-[1.5em]">{type.data.title}</span>
            </h2>
            <div class="relative">
              <span class="relative block rounded">
                {/* <Image width={384} class="relative block object-contain object-center w-full h-full" loading="lazy" alt={title} src={image} /> */}
                <CustomCarousel
                  client:load
                  sources={type.data.featured_images.map((el) => el.image.src)}
                />
              </span>
            </div>
            <div class="pb-0 px-0 pt-4">
              <a
                href={`/shooting/${type.slug}`}
                class="hover:underline text-lg mb-6 m-0 text-red-600 relative"
              >
                See more...
              </a>
            </div>
          </figure>
        ))
      }
    </div>
  </div>
</Layout>
