<div class="flex items-end">
  <div class="max-w-3xl pr-5">
    <div class="relative mt-5 mb-0">
      <h2 class="font-light text-4xl -tracking-wider mt-0 mb-8 mx-0">
        <span class="text-[1.5em]"
          >Combining a healthy lifestyle with the art of posing, I managed to
          integrate myself in modeling.</span
        >
      </h2>
      <h4 class="leading-7 text-base mt-0 mb-4 mx-0">
        <span class="opacity-60"
          >Based in Bucharest, I am working as a comercial model. I am
          passionate about fitness, photography, running in the nature and
          keeping a healty lifestyle. My name is Nemir and this is my portfolio
          with my projects. Enjoy!</span
        >
      </h4>
    </div>
  </div>
</div>
